/* @import url('non.geist'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

code {
  font-family: 'Roboto', sans-serif;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

img {
  user-select: none;
  -webkit-user-select: none; /* Para o Safari e Chrome */
  -moz-user-select: none;    /* Para o Firefox */
  -ms-user-select: none;     /* Para o Internet Explorer/Edge */
  -o-user-select: none;      /* Para navegadores antigos da Opera */
}