.PhoneWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.Phone {
  position: absolute;
  right: 0;
  width: 500px;
  height: 1000px;
  background-size: cover;
}

.PhoneFrame {
  position: absolute;
  z-index: 999;
  width: 500px;
  height: 1000px;
  pointer-events: none;
}

.PhoneScreen {
  position: absolute;
  overflow: hidden;
  mask-image: radial-gradient(white, black);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  bottom: 100px;
  left: 50px;
  right: 50px;
  top: 70px;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
}

.PhoneAppContainer {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #666;
}

*::-webkit-scrollbar {
  width: 3px;
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #f5f5f5;
}

.notistack-SnackbarContainer {
  position: absolute !important;
  top: 60px !important;
}

@keyframes shimmerPulse {
  0% { opacity: 0.35; }
  50% { opacity: 0.85; }
  100% { opacity: 0.35; }
}

.animate-shimmer {
  animation: shimmerPulse 3s infinite ease-in-out;
}